In [1]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (23.3)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.0-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 16.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.3
    Uninstalling pip-23.3:
      Successfully uninstalled pip-23.3
Successfully installed pip-24.0

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine, MetaData

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [4]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
dataset3
About Project_Mock Data
About Project_Detail_Product_Mock Data
About Herb - เวชกรรมไทย
dataset1
dataset2

In [5]:
import pandas as pd
df = pd.DataFrame(
    {
        'col1':[1,2,3],
        'col2':[4,5,6]
    }
)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [6]:
df.to_sql(name='my_table', con=con_str, if_exists='replace')

3

In [7]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
dataset3
About Project_Mock Data
my_table
About Project_Detail_Product_Mock Data
About Herb - เวชกรรมไทย
dataset1
dataset2

In [9]:
df = pd.read_sql('''select * from my_table''',con=con_str)
df

   index  col1  col2
0      0     1     4
1      1     2     5
2      2     3     6

In [12]:
df = df.drop(columns=['col2'])
df

KeyError: "['col2'] not found in axis"

In [11]:
df.to_sql(name='my_table', con=con_str, if_exists='replace')

3

In [14]:
engine = create_engine(con_str)
metadata = MetaData()
metadata.reflect(bind=engine)
table_delete = metadata.tables['my_table']
table_delete.drop(engine)

In [15]:
list_table()

Tables in the database:
dataset3
About Project_Mock Data
About Project_Detail_Product_Mock Data
About Herb - เวชกรรมไทย
dataset1
dataset2